---
title: Lavender Scholar Lite
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>

	<!-- charset info -->
	<meta charset="UTF-8">

	<!-- basic info -->
	<meta name="author" content="{{ site.author.name }}">
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">

	<!-- open graph -->
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:image" content="/favicon.ico">
	<meta property="og:description" content="{{ site.description }}">

	<!-- browser info -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#ffffff">

	<!-- system info -->
	<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
	<meta name="HandheldFriendly" content="true">
	<meta name="msapplication-TileColor" content="#ffffff">

	<!-- search engine info -->
	<meta name="robots" content="index, follow">

	<!-- other meta info -->
	<meta content="always" name="referrer">

	<!-- icons -->
	<link rel="apple-touch-icon" href="/favicon.ico">
	<link rel="icon" href="/favicon.ico">

	<!-- web title -->
    <title>{{ site.title }}</title>

	<!-- seo -->
	{%- seo -%}

	<!-- stylesheet -->
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

	<!-- feed meta -->
	{%- feed_meta -%}
</head>

<body>

	<!-- variables -->
	{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}

	<!-- header -->
	<header>
		<nav>
			<a href="/">{{ site.title }}</a>
		</nav>
		<h1>{{ site.title }}</h1>
	</header>

	<!-- content -->
	{%- for post in site.posts -%}
	<article>
		<!-- article date -->
		<time>{{ post.date | date: date_format }}</time>

		<!-- article title -->
		<h3>
			<a href="{{ post.url | relative_url }}">
				{{ post.title | escape }}
			</a>
		</h3>

		<!-- article excerpts -->
		{%- if site.show_excerpts -%}
		<p style="text-align: justify;">{{ post.excerpt | strip_html }}</p>
		{%- endif -%}

	</article>
	{%- endfor -%}

	<!-- footer -->
	{%- include footer.html -%}

</body>

</html>